<h1> Hello, and welcome to our store </h1>
<p> Thanks for shopping with us! </p>
<p> Please use a selection below <p>

<a href="bronze.html"> The Bronze Paga</a>
<a href="silver.html"> The Silver Paga</a>